In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Part 1 Data Processing
## Section: 2

### 13. Importing the Dataset

#### Python version

In [5]:

#data_folder = Path("/home/axz1191/anaconda/notebook/MachineLearningA-Z/Part 1 - Data Preprocessing")
# On Mac:
file_path = '/Users/axz1191/Documents/azhang/aptomy/MachineLearningA-Z/Part 1 - Data Preprocessing/'
file_name = 'Data.csv'
dataset = pd.read_csv(file_path + file_name)
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [9]:
# [:] means all the lines (rows and cloumns)
X = dataset.iloc[:].values
print(X)

# See the differences
X

[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, nan, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', nan, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [10]:
#  :1 ==> all the columns exept the last one
X = dataset.iloc[:, :-1].values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [11]:
# So that means that we take all the columns except the last one minus one means that we don't include
# the last one and column and so we take all the columns so column minus one means that we take all the
# columns except the last one.
X = dataset.iloc[:, :-1].values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [12]:
y = dataset.iloc[:, 3].values
print (y)
y

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

#### R version

In [5]:
# import dataset
setwd("/Users/axz1191/Documents/azhang/aptomy/MachineLearningA-Z/Part 1 - Data Preprocessing")
dataset = read.csv('Data.csv')
#View(dataset)

In [3]:
summary(dataset)

    Country       Age            Salary      Purchased
 France :4   Min.   :27.00   Min.   :48000   No :5
 Germany:3   1st Qu.:35.00   1st Qu.:54000   Yes:5
 Spain  :3   Median :38.00   Median :61000
             Mean   :38.78   Mean   :63778
             3rd Qu.:44.00   3rd Qu.:72000
             Max.   :50.00   Max.   :83000
             NA's   :1       NA's   :1

In [9]:
names(dataset)
head(dataset, 10)
class(dataset)